* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  font-family: sans-serif;
  background-color: #eef0f1;
}

main {
  padding: 16px;
  margin: 0 116.9px;
}

.btn {
  background-color: #3b49df;
  color: #f6f7f9;
  cursor: pointer;
  text-align: center;
}

.no-border {
  border: transparent;
}

.bg-white {
  background-color: #f6f7f9;
}

.pointer {
  cursor: pointer;
}

.round {
  border-radius: 5px;
}

.disp-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-05 {
  padding: 0.5rem;
}

.header {
  background-color: white;
  position: fixed;
  margin-bottom: 1rem;
  margin-right: 0;
  padding: 5px 10px;
  width: 100%;
  height: 56px;
}

.header .hamburguer {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.header .hamburguer div {
  width: 1rem;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

.header .btn {
  padding: 0.4rem 1rem;
  position: relative;
  line-height: 1.5rem;
  font-weight: 500;
}

.header .botones {
  margin-left: auto;
  margin-right: 1rem;
}

.header .botones .fa-search {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  border-color: transparent;
  border: 0 solid;
}

.header .botones button {
  margin-left: 1rem;
}

.Content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eef0f1;
  padding: 0 10px;
}

.Content .cheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Content .cheader select {
  border: 1px solid #99a3ad;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 5rem;
  font-size: 1rem;
}

.sidebar-wrapper-left {
  width: 19vw;
  margin-left: 10px;
}

.sidebar-wrapper-left .aside-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar-wrapper-left .aside-nav a {
  padding: 0.5rem;
  text-decoration: none;
  color: #202428;
}

.sidebar-wrapper-left .aside-nav .icons-nav {
  margin-right: 0.5rem;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25rem;
}

.sidebar-wrapper-left .aside-nav .social-media-leftsidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top-width: 1px;
}

.sidebar-wrapper-left .aside-nav .social-media-leftsidebar img {
  color: #4d5760;
}

.sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar {
  width: 240px;
  height: 186.195px;
  margin-bottom: 24px;
}

.sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar .iconandtitle {
  width: 232px;
  height: 40px;
  padding: 8px 0px 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar .iconandtitle h3 {
  color: #202428;
  font-weight: 700;
}

.sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar .iconandtitle img {
  padding: 8px;
}

.sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 23vh;
  margin-top: 1rem;
  margin-bottom: 2rem;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar .tags .tag {
  padding: 0.5rem;
  text-overflow: ellipsis;
}

.sidebar-wrapper-left .aside-nav .aside-book {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin-top: 25px;
  text-align: center;
}

.sidebar-wrapper-left .aside-nav .aside-book img {
  width: 90%;
  height: auto;
  border-radius: 5px;
  display: inline-block;
}

.sidebar-wrapper-left .aside-nav .aside-book h3 {
  color: #3b49df;
  font-size: 1.17em;
  font-weight: bold;
}

footer {
  padding: 20px;
  background-color: #d2d6db;
  color: #4d5760;
  position: relative;
  text-align: center;
}

footer .container {
  width: 60%;
  margin: 0 auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container nav {
  display: block;
  padding: 1rem;
  padding-bottom: 2rem;
  word-wrap: normal;
}

footer .container nav span {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

footer .container nav .social {
  padding-top: 1rem;
}

footer .container nav .social i {
  margin-right: 1rem;
  fill: currentColor;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer .container hr {
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #4d5760;
  width: 25%;
  margin-bottom: 1rem;
}

footer .container p {
  margin-bottom: 1rem;
}

footer b {
  color: black;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .sidebar-wrapper-left {
    display: none;
  }
}

@media only screen and (min-width: 760px) {
  .hamburguer {
    display: none;
  }
  .botones {
    margin-left: auto;
  }
  .botones i {
    display: none;
  }
  .botones .logbtn {
    background-color: transparent;
    border: transparent;
    color: #3b49df;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 1.5rem;
  }
  .botones .logbtn:hover {
    background-color: #eef0f1;
    border-radius: 5px;
  }
  .searchbar {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
    margin: 0 1rem;
  }
  .searchbar input {
    border: 1px solid #b5bdc4;
    height: 2rem;
  }
  .searchbar input::-moz-selection {
    border: 2px solid #3b49df;
  }
  .searchbar input::selection {
    border: 2px solid #3b49df;
  }
  .container-center {
    height: auto;
    max-width: 100%;
  }
}

.articles-body {
  width: auto;
  height: auto;
}

.articles-body .tx-cont {
  text-decoration: none;
  color: #202428;
  cursor: pointer;
  padding: 10px;
}

.articles-body .tx-cont:hover {
  background-color: rgba(51, 51, 243, 0.096);
  color: #3333f3;
  border-bottom: solid blue;
}

.main-body {
  margin-left: 10vw;
}

.container-center {
  width: auto;
  height: auto;
}

.container-center .a-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  height: 5vh;
  padding-bottom: 42%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-position: center center;
}

.container-gen {
  width: auto;
  height: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  border: 0.1px solid rgba(0, 0, 0, 0.192);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.container-gen .container-header {
  width: auto;
  height: auto;
  margin-left: 2%;
}

.container-gen .container-header .container-usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.container-gen .container-header .container-usuario .container-img {
  margin-top: 1rem;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
}

.container-gen .container-header .container-usr-name {
  width: auto;
  height: auto;
  margin-top: 1rem;
}

.container-gen .container-header .container-usr-name .c-font {
  color: #292929;
  font-size: smaller;
  margin-top: 5%;
  cursor: pointer;
}

.container-gen .container-header .container-usr-name .c-font:hover {
  color: black;
  font-weight: bold;
}

.container-gen .container-header .container-usr-name .c-fecha {
  color: #615f5f;
  font-size: 12px;
  margin-top: 10%;
}

.container-down {
  width: auto;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.container-down .font-down {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.container-down .font-down:hover {
  color: #3333f3;
}

.container-down .hashtags {
  margin-right: 15rem;
  margin-top: 1rem;
}

.container-down .ht-cont {
  margin-left: 20px;
  text-decoration: none;
  color: #8f8f8f;
  font-size: small;
}

.container-down .ht-cont:hover {
  color: black;
}

.container-foot {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.container-foot .a-foot {
  margin-right: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  color: #8f8f8f;
  padding: 0.2rem;
}

.container-foot .a-foot:hover {
  background-color: rgba(158, 152, 152, 0.096);
}

.save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4rem;
}

.save .btn-sv {
  background-color: #cac7c7;
  margin-left: 1rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.save .btn-sv:hover {
  background-color: gray;
}

.save .sv-txt {
  text-decoration: none;
  color: #8f8f8f;
  font-size: small;
}
/*# sourceMappingURL=style.css.map */