$button-bgcolor: #3b49df;
$button-color: #f6f7f9;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-heavy: 800;
$base-measure: 1rem;
$font-size: 1rem;
// Diana:INICIO:Var
$font-size-bold: 1.2rem;
$font-size-little: 0.9rem;
// Diana:FINAL:Var


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // font-size: $font-size;
}


body {
  font-family: sans-serif;
  background-color: #eef0f1;
}


// Diana:INICIO
@font-face{
    font-family: "Myriad-Pro";
    src: url("../font/Myriad-Pro.ttf");
}

@font-face{
    font-family: "Myriad-ProBold";
    src: url("../font/Myriad Pro Bold SemiCondensed.otf");
}

@font-face{
    font-family: "Myriad-Pro Light";
    src: url("../font/Myriad Pro Light.otf");
}

#page-content{
 display: grid;
 grid-template-columns: 240px 650px 1fr;
 margin-left: 260px;
 margin-right: 260px;
 padding: 16px;
 gap: 1rem;
 
 background-color: #eef0f1;
}

header, .S-Two-a, .S-Three-a, .S-Four-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9fafa;
    border-bottom: 1px solid #eef0f1;
    padding: 12px 16px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    font-family: "Myriad-ProBold";
    font-size: $font-size-bold;

    .see-all{
        color: #3b49df;
        font-family: "Myriad-Pro Light";
        font-size: $font-size-little;

    }
}

.S-One-a, .S-One-b, .S-One-c,.S-One-d, .S-One-e, .create-listing, .S-Two-b, .S-Two-c, .S-Two-d, .S-Two-e, .S-Two-f, .S-Three-b, .S-Four-b, .S-Four-c, .S-Four-d, .S-Four-e, .S-Four-f {
    padding: 16px;
    background: #f9fafa;
    border-bottom: 1px solid #eef0f1;
    font-family: "Myriad-Pro";
    font-size: $font-size;
    letter-spacing: 0.3px;
    
    &:hover{
        background: white;
        color: blue;
        cursor: pointer;
    }
}

.create-listing{
    text-align: center;
    padding: 12px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    margin-bottom: 4%;
}

.S-Two-f, .S-Three-b, .S-Four-f{
    padding: 12px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    margin-bottom: 4%;
}

.small{
    font-size: $font-size-little;
    color: #95979a;
    padding-top: 4px;
}

.blue-box{
    display: inline-block;
    color: white;
    background-color:#323ebe;
    padding: 4px;
    border-radius: 5px;
    font-size: 0.7rem;
    margin-top: 7px;
}
// Diana:FINAL


main {
  padding: 16px;
  margin: 0 116.9px;
}
.btn {
  background-color: $button-bgcolor;
  color: $button-color;
  cursor: pointer;
  text-align: center;
}
.no-border {
  border: transparent;
}
.bg-white {
  background-color: $button-color;
}
.pointer {
  cursor: pointer;
}
.round {
  border-radius: 5px;
}
.disp-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.header {
  background-color: white;
  position: fixed;
  margin-bottom: $base-measure;
  margin-right: 0;
  padding: 5px 10px;
  width: 100%;
  height: 56px;
  .hamburguer {
    margin-right: $base-measure;
    margin-top: 0.5 * $base-measure;
    div {
      width: $base-measure;
      height: 2px;
      background-color: black;
      margin: 6px 0;
    }
  }
  .btn {
    padding: $base-measure * 0.4 $base-measure;
    position: relative;
    line-height: $base-measure * 1.5;
    font-weight: $font-medium;
  }
  .botones {
    margin-left: auto;
    margin-right: $base-measure;
    .fa-search {
      transform: scale(1.7);
      border-color: transparent;
      border: 0 solid;
    }
    button {
      margin-left: $base-measure;
    }
  }
}
.Content {
  flex-direction: column;
  background-color: #eef0f1;
  padding: 0 10px;
  .cheader {
    display: flex;
    justify-content: space-between;
    padding: 0.5 * $base-measure $base-measure;
    align-items: center;
    select {
      border: 1px solid #99a3ad;
      align-items: center;
      height: $base-measure * 2;
      width: $base-measure * 5;
      font-size: $base-measure;
    }
  }
}


// Left Sidebar
.Content{     
    flex-direction: column;
    justify-content: center;
    .sidebar-wrapper-left {
        width: 19vw;
        padding-left: 1rem;
        .aside-nav {
            display: flex;
            a {
                padding: 0.5rem;
                text-decoration: none;
                color: #202428;
            }
            .icons-nav {
                margin-right: 0.5rem;
                vertical-align: middle;
                width: 1.5rem;
                height: 1.5rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 1.25rem;
            }
            .social-media-leftsidebar {
                display: flex;
                padding: 1rem;
                margin-top: 1rem;
                justify-content: space-evenly;
                border-top-width: 1px;
                img {
                    color: #4d5760;
                }
            }
            .secondary-left-sidenavbar {
                width: 240px;
                height: 186.195px;
                margin-bottom: 24px;
                .iconandtitle {
                    width: 232px;
                    height: 40px;
                    padding: 8px 0px 8px 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3 {
                        color: #202428;
                        font-weight: 700;
                    }
                    img {
                        padding: 8px;
                    }
                }
                .tags {
                    display: flex;
                    flex-direction: column;
                    max-height: 23vh;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                    overflow-y: auto;
                    box-sizing: border-box;
                    .tag {
                        padding: 0.5rem;
                        text-overflow: ellipsis;
                    }
                }
            }
            .aside-book {
                box-sizing: border-box;
                display: block;
                margin-top: 25px;
                text-align: center;
                img {
                    width: 90%;
                    height: auto;
                    border-radius: 5px;
                    display: inline-block;
                }
                h3 {
                    color: #3b49df;
                    font-size: 1.17em;
                    font-weight: bold;
                }
            }
        }       
    }
}

footer {
  padding: 20px;
  background-color: #d2d6db;
  color: #4d5760;
  position: relative;
  text-align: center;
  .container {
    width: 60%;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    nav {
      display: block;
      padding: $base-measure;
      padding-bottom: $base-measure * 2;
      word-wrap: normal;
      span {
        display: inline-block;
        margin-right: $base-measure;
        margin-bottom: $base-measure;
      }
      .social {
        padding-top: $base-measure;
        i {
          margin-right: 1rem;
          fill: currentColor;
          transform: scale(1.5);
        }
      }
    }
    hr {
      margin-right: auto;
      margin-left: auto;
      border-top: 1px solid #4d5760;
      width: 25%;
      margin-bottom: $base-measure;
    }
    p {
      margin-bottom: $base-measure;
    }
  }
  b {
    color: black;
    font-weight: $font-bold;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar-wrapper-left {
    display: none;
  }
}

@media only screen and (min-width: 760px) {

    .hamburguer {
        display: none;
    }
    .botones {
        margin-left: auto;
        i {
            display: none;
        }
        .logbtn {
            background-color: transparent;
            border: transparent;
            color: #3b49df;
            font-size: $font-size;
            font-weight: $font-normal;
            padding: $base-measure $base-measure * 1.5;
            &:hover {
                background-color: #eef0f1;
                border-radius: 5px;
            }
        }
    }
    .searchbar {
      flex: 1 auto;
      margin: 0 $base-measure;
        input {
            border: 1px solid #b5bdc4;
            height: $base-measure * 2;
            &::selection {
                border: 2px solid $button-bgcolor;
            }
        }
    }
}