* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  font-family: sans-serif;
  background-color: #eef0f1;
}

@font-face {
  font-family: "Myriad-Pro";
  src: url("../font/Myriad-Pro.ttf");
}

@font-face {
  font-family: "Myriad-ProBold";
  src: url("../font/Myriad Pro Bold SemiCondensed.otf");
}

@font-face {
  font-family: "Myriad-Pro Light";
  src: url("../font/Myriad Pro Light.otf");
}

main {
  width: 100vw;
}

main .sidebar-wrapper-left {
  display: none;
}

main .sidebar-wrapper-right {
  display: none;
  width: 25%;
}

main .articles-body .Content {
  display: none;
}

main .container-center {
  max-width: 100%;
  height: auto;
}

main .container-center .a-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5vh;
  padding-bottom: 42%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-position: center center;
}

main .container-gen {
  width: auto;
  height: auto;
  margin-left: 1vw;
  margin-right: 1vw;
  border: 0.1px solid rgba(0, 0, 0, 0.192);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
}

main .container-gen .container-header {
  width: 5vw;
  height: auto;
  margin-left: 2%;
}

main .container-gen .container-header .container-usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 6vw;
}

main .container-gen .container-header .container-usuario .container-img {
  margin-top: 1rem;
  max-width: 100%;
  height: 2.5vw;
  border-radius: 50%;
}

main .container-gen .container-header .container-usuario .container-usr-name {
  width: auto;
  height: auto;
  margin-top: 1rem;
}

main .container-gen .container-header .container-usuario .container-usr-name .c-font {
  color: #292929;
  font-size: smaller;
  margin-top: 5%;
  cursor: pointer;
}

main .container-gen .container-header .container-usuario .container-usr-name .c-font:hover {
  color: black;
  font-weight: bold;
}

main .container-gen .container-header .container-usuario .container-usr-name .c-fecha {
  color: #615f5f;
  font-size: 12px;
  margin-top: 10%;
}

main .container-down {
  width: auto;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

main .container-down .font-down {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

main .container-down .font-down:hover {
  color: #3333f3;
}

main .container-down .hashtags {
  margin-right: 15rem;
  margin-top: 1rem;
}

main .container-down .ht-cont {
  margin-left: 20px;
  text-decoration: none;
  color: #8f8f8f;
  font-size: small;
}

main .container-down .ht-cont:hover {
  color: black;
}

main #main-navbar {
  padding: 0 auto;
}

main .container-foot {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

main .container-foot .a-foot {
  margin-right: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  color: #8f8f8f;
  padding: 0.2rem;
}

main .container-foot .a-foot:hover {
  background-color: rgba(158, 152, 152, 0.096);
}

main .save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4rem;
}

main .save .btn-sv {
  background-color: #cac7c7;
  margin-left: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

main .save .tx-btn {
  font-size: small;
  color: black;
}

main .save .btn-sv:hover {
  background-color: gray;
}

main .save .sv-txt {
  text-decoration: none;
  color: #8f8f8f;
  font-size: small;
}

.btn {
  background-color: #3b49df;
  color: #f6f7f9;
  cursor: pointer;
  text-align: center;
}

.no-border {
  border: transparent;
}

.bg-white {
  background-color: #f6f7f9;
}

.pointer {
  cursor: pointer;
}

.round {
  border-radius: 5px;
}

.disp-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-05 {
  padding: 0.5rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  position: fixed;
  margin-bottom: 1rem;
  margin-right: 0;
  width: 100vw;
  padding: 5px 10px;
  height: 56px;
}

.header .hamburguer {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.header .hamburguer div {
  width: 1rem;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

.header .searchbar {
  display: none;
}

.header .btn {
  padding: 0.4rem 1rem;
  position: relative;
  line-height: 1.5rem;
  font-weight: 500;
}

.header .botones {
  margin-left: auto;
  margin-right: 1rem;
}

.header .botones .fa-search {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  border-color: transparent;
  border: 0 solid;
}

.header .botones button {
  margin-left: 1rem;
}

.header .botones .logbtn {
  display: none;
}

.Content-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #eef0f1;
  padding: 54px 10px 0px;
}

.Content-h .cheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Content-h .cheader select {
  border: 1px solid #99a3ad;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 5rem;
  font-size: 1rem;
}

.articles-body .content + .disp-flex {
  display: none;
}

footer {
  padding: 20px;
  background-color: #d2d6db;
  color: #4d5760;
  position: relative;
  text-align: center;
  max-width: 100%;
}

footer .container {
  width: 100%;
  margin: 0 auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container nav {
  display: block;
  padding: 1rem;
  padding-bottom: 2rem;
  word-wrap: normal;
}

footer .container nav span {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

footer .container nav .social {
  padding-top: 1rem;
}

footer .container nav .social i {
  margin-right: 1rem;
  fill: currentColor;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer .container hr {
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #4d5760;
  width: 25%;
  margin-bottom: 1rem;
}

footer .container p {
  margin-bottom: 1rem;
}

footer b {
  color: black;
  font-weight: 700;
}

@media only screen and (min-width: 760px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #main-navbar {
    display: block;
    background-color: white;
    position: fixed;
    max-width: 100%;
    width: 100%;
  }
  body #main-navbar .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    height: 54px;
    padding: 1rem;
  }
  body #main-navbar .header .hamburguer {
    display: none;
  }
  body #main-navbar .header .botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #main-navbar .header .botones i {
    display: none;
  }
  body #main-navbar .header .botones .logbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    border: transparent;
    color: #3b49df;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 1.5rem;
  }
  body #main-navbar .header .botones .logbtn:hover {
    background-color: #eef0f1;
    border-radius: 5px;
  }
  body #main-navbar .header .searchbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
    margin: 0 1rem;
  }
  body #main-navbar .header .searchbar input {
    width: 400px;
    border: 1px solid #b5bdc4;
    height: 2rem;
  }
  body #main-navbar .header .searchbar input::-moz-selection {
    border: 2px solid #3b49df;
  }
  body #main-navbar .header .searchbar input::selection {
    border: 2px solid #3b49df;
  }
  body #main-navbar .Content-h {
    display: none;
  }
  body .container-center {
    height: auto;
    max-width: 100%;
  }
  body .articles-body {
    width: auto;
    height: auto;
  }
  body .articles-body .tx-post {
    margin-top: 0.6rem;
    margin-left: 1rem;
    width: 14rem;
  }
  body .articles-body .tx-cont {
    text-decoration: none;
    color: #202428;
    cursor: pointer;
    padding: 10px;
  }
  body .articles-body .tx-cont:hover {
    background-color: rgba(51, 51, 243, 0.096);
    color: #3333f3;
    border-bottom: solid blue;
  }
  body main {
    margin: 0;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .sidebar-wrapper-left {
    display: block;
    margin-top: 5rem;
  }
  body main .sidebar-wrapper-right {
    display: block;
    margin-top: 5rem;
  }
  body main .articles-body .Content {
    margin-top: 5rem;
    display: block;
  }
  body main .sidebar-wrapper-left {
    width: 19vw;
    margin-left: 10px;
  }
  body main .sidebar-wrapper-left .aside-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .sidebar-wrapper-left .aside-nav a {
    padding: 0.5rem;
    text-decoration: none;
    color: #202428;
  }
  body main .sidebar-wrapper-left .aside-nav .icons-nav {
    margin-right: 0.5rem;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.25rem;
  }
  body main .sidebar-wrapper-left .aside-nav .social-media-leftsidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-top-width: 1px;
  }
  body main .sidebar-wrapper-left .aside-nav .social-media-leftsidebar img {
    color: #4d5760;
  }
  body main .sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar {
    height: 186.195px;
    margin-bottom: 24px;
  }
  body main .sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar .iconandtitle {
    width: 230px;
    height: 40px;
    padding: 8px 0px 8px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar .iconandtitle h3 {
    color: #202428;
    font-weight: 700;
  }
  body main .sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar .iconandtitle img {
    padding: 8px;
  }
  body main .sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 23vh;
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body main .sidebar-wrapper-left .aside-nav .secondary-left-sidenavbar .tags .tag {
    padding: 0.5rem;
    text-overflow: ellipsis;
  }
  body main .sidebar-wrapper-left .aside-nav .aside-book {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin-top: 25px;
    text-align: center;
  }
  body main .sidebar-wrapper-left .aside-nav .aside-book img {
    width: 90%;
    height: auto;
    border-radius: 5px;
    display: inline-block;
  }
  body main .sidebar-wrapper-left .aside-nav .aside-book h3 {
    color: #3b49df;
    font-size: 1.17em;
    font-weight: bold;
  }
  body main header,
  body main .S-Two-a,
  body main .S-Three-a,
  body main .S-Four-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f9fafa;
    border-bottom: 1px solid #eef0f1;
    padding: 12px 16px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    font-family: "Myriad-ProBold";
    font-size: 1.2rem;
  }
  body main header .see-all,
  body main .S-Two-a .see-all,
  body main .S-Three-a .see-all,
  body main .S-Four-a .see-all {
    color: #3b49df;
    font-family: "Myriad-Pro Light";
    font-size: 0.9rem;
  }
  body main .S-One-a,
  body main .S-One-b,
  body main .S-One-c,
  body main .S-One-d,
  body main .S-One-e,
  body main .create-listing,
  body main .S-Two-b,
  body main .S-Two-c,
  body main .S-Two-d,
  body main .S-Two-e,
  body main .S-Two-f,
  body main .S-Three-b,
  body main .S-Four-b,
  body main .S-Four-c,
  body main .S-Four-d,
  body main .S-Four-e,
  body main .S-Four-f {
    padding: 1rem;
    background: #f9fafa;
    border-bottom: 1px solid #eef0f1;
    font-family: "Myriad-Pro";
    font-size: 1rem;
    letter-spacing: 0.3px;
  }
  body main .S-One-a:hover,
  body main .S-One-b:hover,
  body main .S-One-c:hover,
  body main .S-One-d:hover,
  body main .S-One-e:hover,
  body main .create-listing:hover,
  body main .S-Two-b:hover,
  body main .S-Two-c:hover,
  body main .S-Two-d:hover,
  body main .S-Two-e:hover,
  body main .S-Two-f:hover,
  body main .S-Three-b:hover,
  body main .S-Four-b:hover,
  body main .S-Four-c:hover,
  body main .S-Four-d:hover,
  body main .S-Four-e:hover,
  body main .S-Four-f:hover {
    background: white;
    color: blue;
    cursor: pointer;
  }
  body main .create-listing {
    text-align: center;
    padding: 1rem;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    margin-bottom: 4%;
  }
  body main .S-Two-f,
  body main .S-Three-b,
  body main .S-Four-f {
    padding: 12px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    margin-bottom: 4%;
  }
  body main .small {
    font-size: 0.9rem;
    color: #95979a;
    padding-top: 4px;
  }
  body main .blue-box {
    display: inline-block;
    color: white;
    background-color: #323ebe;
    padding: 4px;
    border-radius: 5px;
    font-size: 0.7rem;
    margin-top: 7px;
  }
}
/*# sourceMappingURL=style.css.map */