$base-measure: 1rem;

// Primary Fonts
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

//Secondary Fonts
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

*{
  font-family: 'Public Sans';
  font-size: 18px;
  margin: 0;
  padding: 0;
}

  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;
    background-color: $white;
    .nav-logo {
      display: flex;
      align-items: center;
    }
  }
  .nav-link {
    display: flex;
    p {
      padding: 0.2rem;
      display: flex;
      width: 4.5rem;
      color: $grayish-blue;
     }
   }
  .nav-button {
   display: flex;
   align-items: center;
   background-color: $lime-green;
   padding: 0.1rem 2.1rem;
   border-radius: 8px;
   cursor: pointer;
   border-radius: 24px;
     a {
      text-decoration: none;
      color: white;
     }
   }
   .card-wrapper{
    width: 100%;
    margin: 0 auto;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $base-measure;
    h1{
      color: $dark-blue;
      word-wrap: normal;
      text-align: center;
      font-weight: 700;
      &:not(:first-child){
        margin-bottom: $base-measure;
      }
    }
    p{
      word-wrap: normal;
      text-align: center;
      color:$grayish-blue;
      margin-bottom: $base-measure;
    } 
    img{
      margin-bottom: $base-measure;
    }

  }
   .bg-light-grayish{
     background-color: $light-grayish;
   }
   .bg-vlg{
     background-color: $very-light-gray;
   }
@media only screen and (min-width: 1024px){
  body{
   background: transparent url('../images/bg-intro-desktop.svg') right/50% no-repeat;
   }

   .card-wrapper{
     flex-direction: row-reverse;
   }
}