$base-measure: 1rem;
$font-size: 18px;

// Primary Fonts
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

//Secondary Fonts
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

*{
  font-family: "OpenSansRegular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: "OpenSansRegular";
  src: url("../font/OpenSans-Regular.ttf");

}

body{
  background: transparent url("../images/bg-intro-mobile.svg") right top/contain no-repeat;
  font-size: 16px;
  .btn{
    margin: $base-measure;
    border-radius: 1.5em;
    width: 180px;
    height: 40px;
    background-image: linear-gradient(315deg,$lime-green,$bright-cyan);
    color: $white;
  }
}
.navbar {
    font-family: "OpenSansRegular";
    display: flex;
    justify-content: center;
    background-color: $white;
    margin-bottom: 2rem;
    height: 8vh;
    .nav-logo {
      display: flex;
      align-items: center;
    }
    .nav-link{
      display: none;
      margin-left: 0px;
      margin-right: 0px;
    }
    .nav-button{
      display: none;
    }
 
  }
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .first-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
        display: flex;
        h1 {
          color: $dark-blue;
          font-size: $font-size * 2;
          word-wrap: normal;
          font-weight: 700;
          text-align: center;
        }
        span {
          color:$grayish-blue;
        }
    }
    .second-container {
      display: flex;
      flex-direction: column;
      .second-container-box {
        display: flex;
        justify-content: center;

      }
    }
  }


.card-wrapper{
    width: 100%;
    margin: 0 auto;
  }
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $base-measure;
    .first-h1{
      font-size: $font-size*2;
      width: 50%;
      word-wrap: normal;
    }
    h1{
      color: $dark-blue;
      word-wrap: normal;
      text-align: center;
      font-weight: 700;
      margin-bottom: $base-measure;
    }
    li{
      word-wrap: normal;
      text-align: center;
      color:$grayish-blue;
      margin-bottom: $base-measure;
    } 
    img{
      margin-bottom: $base-measure;
    }

  }

  .container{
    margin-top: $base-measure*3;
    .heading {
      text-align: center;
      margin-bottom: 50px;
      font-size: $font-size*2;
      font-weight: 700;
      color: $dark-blue;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
    }
    .card {
      background-color: $very-light-gray;
      margin-bottom: 50px;
      padding: 0;
      .card-body {
        text-align: center;
        object-fit: contain;
        .fit-image{
          width: 80%;
          object-position: center;
          object-fit: contain;
          padding: 0;
        }
      }
    }
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo{
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(301deg) brightness(108%) contrast(109%);
      margin: $base-measure;
    }
    .social{
      justify-content: space-around;
      width: 35%;
      display: flex;
      margin: $base-measure auto;
    }
    .information ul{
      display: flex;
      list-style: none;
      flex-direction: column;
      color: $light-grayish;
      text-align: center;
      li{
        margin-bottom: $base-measure;
      }
      &:first-child{
        margin-top: $base-measure;
      }
    }

    span{
      color:$grayish-blue;
      margin-bottom: $base-measure;
    }
  }
   .bg-light-grayish{
     background-color: $light-grayish;
   }
   .bg-vlg{
     background-color: $very-light-gray;
   }
   .bg-dark-blue{
     background-color: $dark-blue;
   }
   .flex-row{
    flex-direction: row;
  }
  .flex-column{
    display: flex;
    flex-direction: column;
  }

@media only screen and (min-width: 1024px){
body{
  #hbtn{
    margin: auto;
  }
  .navbar{
    .nav-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      ul{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       li{
         color: $grayish-blue;
         list-style: none;
        }
      }
    }
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    .individual{
      display: flex;
      justify-content: left;
      width: 90%;
      margin: auto;
      .card{
        width: 50%;
        word-wrap: normal;
        padding: 0;
        h1{
          margin-top: $base-measure*3;
          color: $dark-blue;
          text-align: left;
          width: 100%;
          padding: 0;
        }
        p{
          text-align: left;
        }
      }
    }
    .join{
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      p{
        text-align: start;
      }
    }
  }
  .container{
    display: flex;
    flex-direction: column;
    background-color: $very-light-gray;
    padding-right: 10vw;
    padding-left: 10vw;
    .heading{
      display: flex;
      width: 90%;
      margin: auto;
      padding-bottom: $base-measure;
    }
    .row{
      flex-direction: row;
      justify-content: space-around;
      .card{
        align-items: baseline;
        width: 20%;
        word-wrap: normal;
        padding: 0;
        .cardbody{
          p{
            text-align: justify;
            .author{
              font-size: .1$font-size;
              margin-right: auto;
              color: $light-grayish;
              width: 80%;
            }
            
          .title{
            color: $grayish-blue;
          }
          }
        }
      } 
    }
  }    
  footer{
    flex-direction: row;
    justify-content: space-around;
    .personal{
      flex-direction: column;
      align-items: center;
      margin-left: $base-measure*3;
    }
  }
}
}

